.container{
    margin-left: 18rem;
    height: 100%;
}

.dark_mode{
    background-color: var(--gray-700);
    color: var(--gray-300); 
    height: 100vw;
    width: 100vw;
}

.light_mode{
    color: var(--gray-700); 
    background-color: #e8eef2;
    height: 100vw;
    width: 100vw;
}

.margin{
    margin-left: 20rem;
}

