.container{
    margin-left: 18rem;
    height: 100%;
}

.dark_mode{
    background-color: var(--gray-700);
    color: var(--gray-300); 
    height: 100vh;
    width: 100vw;
}

.light_mode{
    color: var(--gray-700); 
    background-color: #e8eef2;
    height: 100vh;
    width: 100vw;
}

.margin{
    margin-left: 20rem;
}


.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.card {
position: relative;
width: 600px;
height: 800px;
background-color: #f1f1f1;
border-radius: 10px;
overflow: hidden;
}

.card img {
width: 100%;
height: 100%;
object-fit: cover;
}

.buttons {
position: absolute;
bottom: 20px;
left: 0;
width: 100%;
display: flex;
justify-content: space-around;
}

.button {
padding: 10px 20px;
border-radius: 20px;
font-weight: bold;
cursor: pointer;
}
.spaceTop{
    margin-top: 7rem;
}

.infoPets {
    padding: 20px;
    border-radius: 15px;
    margin-right: 40px;
    width: 350px;
    height: auto;
    background: linear-gradient(45deg, #7e57c2, #673ab7); /* Gradiente de fundo */
    color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
}

.infoPets:hover {
    transform: scale(1.05);
}

.petInfo {
    flex-grow: 1;
    padding-right: 1rem;
}

.infoTitle {
    font-size: 28px;
    margin-bottom: 12px;
    color: #f9bc60;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.infoDetail {
    font-size: 18px;
    line-height: 1.6;
    opacity: 0.9;
}

.infoLabel {
    font-weight: bold;
    color: #f9bc60;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.heartContainer {
    display: flex;
    align-items: center;
}

.heart {
    font-size: 36px;
    color: #ff5c5c;
}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.BarLoader{
    margin-left: 8px;
}