.container {
    text-align: center;
}

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #009688;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #009688;

}
.back {
    text-decoration: none;
    color: #009688;
}


.btn:hover {
    background-color: #00796b;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
