.img {
    height: 3rem;
    border-radius: 50px;
    margin-right: 1rem;
    background-color: rgb(217, 250, 250);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .containerMain {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  .containerLogin {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  .wrapLogin {
    width: 650px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    /* height: 800px; */
  }
  
  .loginForm {
    width: 100%;
  }
  
  .loginFormTitle {
    display: block;
    font-size: 25px;
    color: azure;
    line-height: 1.2;
    text-align: center;
  }
  
  .login-form-title img {
    width: 90px;
  }
  
  .wrapInput {
    width: 100%;
    position: relative;
    border-bottom: 2px solid var(--gray-700);
    margin-bottom: 37px;
  }

  .wrapInput2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .inputContainer {
    flex-grow: 1;
    position: relative;
    border-bottom: 2px solid var(--gray-700);
    margin-bottom: 37px;
  }
  
  /* Ajuste a largura e a margem conforme necessário */
  .inputContainer input {
    width: calc(50% - 10px); /* Ajuste a largura conforme necessário */
    margin-right: 10px; /* Ajuste a margem conforme necessário */
  }
  
  .inputs {
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    border: none;
    display: block;
    width: 100%;
    height: 45px;
    background-color: transparent;
    padding: 0 5px;
  }
  
  .focusInput {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    color: #adadad;
  }
  
  .focusInput::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    transition: all 0.4s;
    background: linear-gradient(to left, #a6e6a6, #106494);
  }
  
  .focusInput::after {
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    transition: all 0.4s;
  }
  
  .inputs:focus {
    outline: 0;
  }
  
  .inputs:focus + .focusInput::before {
    width: 100%;
  }
  
  .inputs:focus + .focusInput::after {
    top: -15px;
  }
  
  .hasVal + .focusInput::after {
    top: -15px;
  }
  
  .containerLoginFormBtn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 13px;
  }
  
  .loginFormBtn {
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background: linear-gradient(to left, #a6e6a6, #106494);
  }
  
  .loginFormBtn:hover {
    cursor: pointer;
    color: #fff;
  }
  
  .loginFormBtn:active {
    transform: scale(0.95);
  }
  
  .textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .linkCad {
    font-size: 20px;
    color: var(--green-500);
    line-height: 1.5;
    text-decoration: none !important;
  }
  
  .txt1 {
    font-size: 20px;
    color: #adadad;
    line-height: 1.5;
    text-decoration: none;
    padding-right: 9px;
  }
  
  .darkMode {
    background-color: var(--gray-700);
    color: var(--gray-300);
    height: 100vw;
    width: 100vw;
  }
  
  .focused::after {
    top: -15px;
  }
  
  .hasVal + .focusInput::after {
    top: -15px;
    white-space: nowrap;
  }