.margin {
  margin-left: 200px;
  margin-right: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .margin {
      margin: 20px;
    }
  }

  .dark_mode {
    background-color: var(--gray-700);
    color: var(--gray-300);
    height: 100%;
    width: 100%;
  }
  .dark_modeVW {
    background-color: var(--gray-700);
    color: var(--gray-300);
    height: 100vw;
    width: 100vw;
  }
  
  .light_mode {
    color: var(--gray-700);
    background-color: #e8eef2;
    height: 100%;
    width: 100%;
  }

  .light_modeVW {
    color: var(--gray-700);
    background-color: #e8eef2;
    height: 100vw;
    width: 100vw;
  }

  .file {
    margin-bottom: 1rem;
    width: 25rem;
  }

  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5rem;
  } 


  .cardRow {
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-basis: calc(25% - 20px); 
}

  .divCard{
    margin-left: 200px;
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
  }

  @media screen and (max-width: 768px) {
    .divCard {
      margin: 20px;
    }
  }

  .test{
    margin-top: 20rem;
  }

  .card {
    border: none !important;
    width: 14rem;
    border-radius: 8px !important;
  }

  .cardBody {
    
    background-color: var(--gray-800);
    color: #e8eef2;
  }

  .styleButton{
    width: 100%;
  }

  /* .cardImg {
    margin-top: 1rem;
    margin-right: 1rem;
  } */

  .cardImg {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    
}

.marginTop{
  margin-top: 1rem;
}

.marginTopButton{
  margin-top: 2.3rem;
}

.colorText{
  color: #fff;
}