.img{
    height: 3.5rem;
    border-radius: 50px;
}

.navii{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem 4rem;
    background: var(--gray-800);
    border-bottom: 1px solid var(--gray-700);
}

.optionsCollapsed{
    display: inline-flex;
}

.marginButton{
    margin-top: 0.5rem;
    margin-left: 0.8rem;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.819);
    font-family: 'Courier New', Courier, monospace;
}

.marginLogo{
    margin-left: 0.5rem;
}

.test{
    height: 200px;
    width: 200px;
}

.dropdownItemText {
    color: white;
}

.customDropdownMenu::houver {
    background-color: var(--gray-800); /* Use a cor de fundo desejada */
}

.logoLink {
    text-decoration: none;
  }