.img{
    height: 3.5rem;
    border-radius: 50px;
}

.navii{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem 4rem;
    background: var(--gray-800);
    border-bottom: 1px solid var(--gray-700);
}

.marginLogo{
    margin-left: 0.5rem;
}

.test{
    height: 200px;
    width: 200px;
}

.dropdownItemText {
    color: white;
}

.customDropdownMenu::houver {
    background-color: var(--gray-800); /* Use a cor de fundo desejada */
}

.logoLink {
    text-decoration: none;
  }