
.img {
height: 3.5rem;
border-radius: 50px;
}

.sidebar {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 250px;
padding: 1rem 1rem;
background-color: var(--sidebar-color);
}

.sidebarDark {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 250px;
padding: 1rem 1rem;
background-color: var(--gray-800);
}

.sidebar .text {
font-size: 1.2rem;
font-weight: 500;
color: var(--text-color);
}

.sidebarDark .text {
font-size: 1.2rem;
font-weight: 500;
color: var(--text-color);
}

.sidebar .image {
min-width: 60px;
display: flex;
align-items: center;
}

.sidebarDark .image {
min-width: 60px;
display: flex;
align-items: center;
}

.sidebar header {
position: relative;
}

.sidebarDark header {
position: relative;
}

.sidebar .imageText img {
height: 3.0rem;
border-radius: 50px;
}

.sidebarDark .imageText img {
height: 3.0rem;
border-radius: 50px;
}

.sidebar header .imageText {
display: flex;
align-items: center;
margin-bottom: 1rem;
}

.sidebarDark header .imageText {
display: flex;
align-items: center;
margin-bottom: 1rem;
}

header .imageText .headerText {
display: flex;
flex-direction: column;
}

.headerText .name {
font-weight: 900;
}

.headerText .description {
margin-top: -7px;
}

.sidebar header .toggle {
position: absolute;
top: 50%;
right: -25px;
transform: translateY(-50%);
height: 25px;
width: 25px;
background-color: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
color: var(--sidebar-color);
font-size: 22px;
}

.sidebarDark header .toggle {
position: absolute;
top: 50%;
right: -25px;
transform: translateY(-50%);
height: 25px;
width: 25px;
background-color: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
color: var(--sidebar-color);
font-size: 22px;
}

.sidebar li {
height: 50px;
margin-top: 10px;
list-style: none;
display: flex;
align-items: center;
}

.sidebarDark li {
height: 50px;
margin-top: 10px;
list-style: none;
display: flex;
align-items: center;
}

.sidebar li .icon {
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
min-width: 30px;
margin-right: 10px;
}

.sidebarDark li .icon {
display: flex;
align-items: center;
justify-content: center;
font-size: 20px;
min-width: 30px;
margin-right: 10px;
}

.sidebar li .icon,
.sidebar li .text {
transition: var(--tran-02);
margin-left: 15px;
color: var(--text-color);
}

.sidebarDark li .icon,
.sidebarDark li .text {
transition: var(--tran-02);
margin-left: 15px;
color: var(--text-color);
}

.sidebar .seachBox {
background: var(--primary-color-light);
}

.sidebarDark .seachBoxDark {
background: var(--gray-600);
}


/* cor campo search */
.seachBox input {
height: 100%;
width: 100%;
background: var(--primary-color-light);
outline: none;
border: none;
border-radius: 6px;
}

.seachBoxDark input {
    height: 100%;
    width: 100%;
    background: var(--gray-600);
    outline: none;
    border: none;
    border-radius: 6px;
    color: var(--gray-300);
    padding-left: 20px;
}

.sidebar li a {
height: 100%;
width: 100%;
display: flex;
align-items: center;
text-decoration: none;
border-radius: 6px;
transition: var(--tran-04);
}

.sidebarDark li a {
height: 100%;
width: 100%;
display: flex;
align-items: center;
text-decoration: none;
border-radius: 6px;
transition: var(--tran-04);
}

.sidebar li a:hover {
background: var(--primary-color);
}

.sidebarDark li a:hover {
background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
color: var(--sidebar-color);
}

.sidebarDark li a:hover .icon,
.sidebarDark li a:hover .text {
color: var(--sidebar-color);
}

.sidebar .menuBar {
height: calc(100% - 50px);
display: flex;
flex-direction: column;
justify-content: space-between;
}

.sidebarDark .menuBar {
height: calc(100% - 50px);
display: flex;
flex-direction: column;
justify-content: space-between;
}

.menuBar .mode .moonSun {
height: 50px;
width: 60px;
display: flex;
align-items: center;
}

.menuBar .mode i {
position: absolute;
}

.menuBar .mode i.sun {
opacity: 0;
}

.menuBar .mode .toggleSwitch {
display: flex;
align-items: center;
justify-content: center;
height: 100%;
min-width: 60px;
cursor: pointer;
}

.toggleSwitch .switch {
position: relative;
height: 22px;
width: 44px;
border-radius: 25px;
background: var(--toggle-color);
}

.switch::before {
content: '';
position: absolute;
height: 15px;
width: 15px;
border-radius: 50%;
top: 50%;
left: 5px;
transform: translateY(-50%);
background: var(--sidebar-color);
transition: var(--tran-03);
}

.switchToggled::before {
left: 24px;
}

.bottomContent {
margin-top: 300px; 
}

