.container {
    margin-left: 18rem;
    height: 100%;
  }

  .dark_mode {
    background-color: var(--gray-700);
    color: var(--gray-300);
    height: 100%;
    width: 100%;
  }
  
  .light_mode {
    color: var(--gray-700);
    background-color: #e8eef2;
    height: 100%;
    width: 100%;
  } 
  
  .title{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;  
}

.logo{
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

  .margin {
    margin-left: 20rem;
  }

  .marginTop{
    margin-top: 2rem;
  }
  
  .marginInfo {
    margin-left: 10rem;
    margin-top: 3rem;
    display: flex; 
    align-items: center; 
    justify-content: space-around;
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem 5rem 5rem; 
  }
  
  .carousel {
    margin-top: 10rem;
    max-width: 700px; 
    margin: 0 auto; 
    align-items: center;
    justify-content: center;
  }
  

  .carousel .slide img {
    max-height: 500px;
    object-fit: contain; 
  }
  
  .titulo {
    text-align: center;
    margin-top: 2rem;
    /* margin-left: 20rem; */
    margin-right: 10rem;
  }
  
  .subtitulo {
    text-align: center;
    margin-top: 0.5rem;
    /* margin-left: 20rem; */
  }
  
  .containerInfo {
    display: flex; 
    justify-content: space-around; 
    background-color: #465c69;
    padding: 2rem 0;
  }
  
  .infoItem {
    text-align: center;
    margin: 0 4rem; 
  }
  
  .imagensInfo {
    width: 200px;
    height: 200px;
    border-radius: 8px;
  }
  
  .marginTextlowIcon {
    margin-top: 1rem;
    text-align: center;
  }
  

  
  .marginQuestions {
    margin-left: 20rem;
    margin-top: 2rem;
    padding: 2rem;
    height: 250px;
    width: 65%;
    background-color: #7e714a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 12%;
    
  }
  
  .marginTextQuestions {
    text-align: center;
    justify-content: center;
    align-items: center;
  }


.marginTextQuestions {
    margin-left: 200px;
}

.buttonQuestion{
    margin-top: 1rem;
    margin-left: 200px;
    cursor: pointer;
}

@media (max-width: 1240px) {
 .carousel {
    margin-top: 10rem;
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    
  }
  

  .carousel .slide img {
    max-height: 500px; 
    object-fit: contain; 
    visibility: hidden; 
  }
}